.container{
  width: 500px;
  justify-content: center;
  margin: auto;
}

.inputContainer>input{
  height: 40px;
  font-size: 25px;
  padding-left: 10px;
  margin: 5px 20px;
  border-radius: 20px;
  background-color: black;
  color: white;
}
.inputContainer>button{
  height: 40px;
  font-size: 25px;
  padding: 5px 20px;
  background-color: black;
  color: white;
  border-radius: 15px;
}
.listContainer{
  display: flex;
  justify-content:center;
  gap:5rem;
  font-size:20px;
  margin-top:30px ;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 20px;
}
