#container{
    display: flex;
    gap: 3rem;
    font-size: 23px;
    background-color: blue;
    padding: 7px;
    justify-content: center;
    
}
#container>div{
    color: white;
}
#fivePoints{

}